<form #loginForm="ngForm" (ngSubmit)="login()">
  <p>Enter your login details:</p>
  <input type="email" placeholder="Email" name="username" required class="form-control" [(ngModel)]="model.username">
  <br>
  <input type="password" placeholder="Password" name="password" required class="form-control" [(ngModel)]="model.password">
  <br>
  <a href="#">Forgot password?</a>
  <div class="text-center">
    <button  [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-light">Login</button>
  </div>
</form>
 