<h3>Character Information:</h3>

<div class="container">
  <p>
      <strong>First Name:</strong> {{ firstName }}
  </p>

  <p>
      <strong>Family Name:</strong> {{ familyName }}
  </p>
      
  <p>
      <strong>Title:</strong> {{ title }}
  </p>

  <p>
      <strong>Influance:</strong> {{ influance }}
  </p>

  <p>
      <strong>Might:</strong> {{ might }}
  </p>

  <p>
      <strong>Fame:</strong> {{ fame }}
  </p>

  <p>
      <strong>Reputation:</strong> {{ reputation }}
  </p>

  <p>
      <strong>Race:</strong> {{ race }}
  </p>

  <p>
      <strong>Generation:</strong> {{ getOrdinalNumber(generation) }}
  </p>
</div>

    
