<h3>Character Information:</h3>

<div class="container">
  <p>
      <strong>First Name:</strong> {{ getCharacter.name }}
  </p>

  <p>
      <strong>Family Name:</strong> {{ getCharacter.familyName }}
  </p>
      
  <p>
      <strong>Title:</strong> {{ getCharacter.title }}
  </p>

  <p>
      <strong>Influance:</strong> {{ getCharacter.influance }}
  </p>

  <p>
      <strong>Might:</strong> {{ getCharacter.might }}
  </p>

  <p>
      <strong>Fame:</strong> {{ getCharacter.fame }}
  </p>

  <p>
      <strong>Reputation:</strong> {{ getCharacter.reputation }}
  </p>

  <p>
      <strong>Race:</strong> {{ getCharacter.race }}
  </p>

  <p>
      <strong>Generation:</strong> {{ getCharacter.ordinalGeneration }}
  </p>
</div>

    
