<h3>Character Information:</h3>

<div class="container">
  <p>
      <strong>First Name:</strong> {{ charater.name }}
  </p>

  <p>
      <strong>Family Name:</strong> {{ charater.familyName }}
  </p>
      
  <p>
      <strong>Title:</strong> {{ charater.title }}
  </p>

  <p>
      <strong>Influance:</strong> {{ charater.influance }}
  </p>

  <p>
      <strong>Might:</strong> {{ charater.might }}
  </p>

  <p>
      <strong>Fame:</strong> {{ charater.fame }}
  </p>

  <p>
      <strong>Reputation:</strong> {{ charater.reputation }}
  </p>

  <p>
      <strong>Race:</strong> {{ charater.race }}
  </p>

  <p>
      <strong>Generation:</strong> {{ getOrdinalNumber(charater.generation) }}
  </p>
</div>

    
