/* You can add global styles to this file, and also import other style files */
.help-block {
    font-size: 0.8em;
}

input.ng-invalid.ng-touched {
    border-bottom: 1px solid red!important;
}

body {
    background-color: #455059;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

input, .input:focus{
    background-color : inherit!important;
    color: white!important;
    border-color: white!important;
    border-style: dotted!important; 
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-radius: 0%!important;
}

input:focus {
    border-style: solid!important; 
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input::placeholder { 
    color: #999!important; 
}

a {
    color: lightseagreen;
}

a:hover {
    color: white;
    text-decoration: none;
}


/* This is where the modal styling starts*/
.modal-content {
    background-color: #354049;
}

.modal-content {
    border-style: none;
}

.close {
    color: white;
}

.close:focus {
    outline-style: none;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}
/* This is where the modal styling ends*/