/* You can add global styles to this file, and also import other style files */
body {
    background-color: #455059;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.form-control, .form-control:focus{
    background-color : #252525;
    border-color: #BBB;
    color: #BBB;
}

a {
    color: orange;
}

a:hover {
    color: white;
    text-decoration: none;
}


/* This is where the modal styling starts*/
.modal-content {
    background-color: #455059!important;
}

.modal-content {
    border-style: none;
}

.close {
    color: white;
}

.close:focus {
    outline-style: none;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}
/* This is where the modal styling ends*/