<form #registerForm="ngForm" (ngSubmit)="register()">
  <p>Register your details:</p>
  <input type="email" placeholder="Email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="username" [(ngModel)]="model.username" class="form-control" #email="ngModel">
  <span class="help-block text-danger" *ngIf="!email.valid && email.touched">Please enter a valid Email</span>
  
  <br><br>
  
  <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
    <input type="password" placeholder="Create Password" required minlength="8" maxlength="16" name="password" [(ngModel)]="model.password" class="form-control" #password="ngModel">
    <span class="help-block text-danger" *ngIf="!password.valid && password.touched">Please enter a valid password</span>
    
    <br><br>
    
    <input type="password" placeholder="Confirm Password" required validateEqual="password" minlength="8" maxlength="16" name="password_confirm" [(ngModel)]="model.password_confirm" class="form-control" #confirmPassword="ngModel">
    <span class="help-block text-danger" *ngIf="!confirmPassword.valid && confirmPassword.touched">Please enter a valid password</span>
  </div>
  
  <br><br>
  
  <div class="text-center">
    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-outline-light">Register</button>
  </div>
</form>